body, button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  color: white;
  background-color: black;
  transition: all 0.2s ease;
  box-shadow: grey;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 25px 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#notifications {
  text-align: center;
  font-size: 2em;
}

.tile {
  border: solid black 2px;
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}

.tile:hover {
  background-color: rgba(128, 128, 128, 0.178);
}

.reset {
  font-size: 20em;
}